@import "~antd/dist/antd.css";

.custom__shadow {
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.07),
        0px 1.6px 3.6px rgba(0, 0, 0, 0.11);
}
.sidebar {
    background-color: #f1f2f7;
    height: calc(100vh - 64px);
}
.navTitle {
    position: relative;
    margin-bottom: 12px;
    width: 42px;
    height: 14px;
    left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #181818;
}

.active {
    position: relative;
    background-color: rgba(0, 46, 208, 0.1);
    color: #002ed0;
}
